body {
    font-family: Poppins, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe{
    width: 80%;
    height: 500px;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chart-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.chart {
    border: 1px solid #ccc;
    margin: 10px;
}
